.terminal{'data-channel-subscribe' => 'Retranslator', 'data-retr-id' => "#{channel_name}"}
  .terminal_box{'data-role' => 'message-template'}
    .message_content{'data-role' => 'rows-container'}
      .mb-1{'data-role' => 'message-text'}